.gallery-win .x-panel-body {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

.gallery-win .thumb {
    background: #dddddd;
    padding: 3px 3px 0;
    position: relative;
}

.is-main {
    display: none;
}

.is-main-win .is-main {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.x-quirks .gallery-win .thumb {
    padding-bottom: 3px;
}

.gallery-win .thumb img {
    height: 90px;
}

.gallery-win .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

.gallery-win .thumb-wrap span {
    height: 13px;
    display: block;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    width: 90px;
}

.gallery-win .x-item-over {
    border: 1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
    padding: 4px;
}

.gallery-win .x-item-selected {
    background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
    border: 1px solid #99bbe8;
    padding: 4px;
}

.gallery-win .x-item-selected .thumb {
    background: transparent;
}

.gallery-win .loading-indicator {
    font-size: 11px;
    /*background-image:url('../../resources/themes/images/default/grid/loading.gif');*/
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

.x-view-selector {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    border: 1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    zoom: 1;
    background-color: #c3daf9;
    border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
    position: relative;
    overflow: hidden;
}