html, body {
    height: 100% !important;
    background-color: #fefefe;
}

.scope-table {
    line-height: 15pt;
}

.scope-table th {
    text-align: right;
}

.scope-table td {
    padding-left: 5px;
}

.sync-p {
    text-align: left;
    margin: 5px 0;
}

.status-active {
    color: green;
}

.desktop-status-inprogress {
    color: #2f3239;
    background-color: rgba(255, 255, 255, .6);
    padding: 2px;
}

.desktop-status-error {
    color: #ae0720;
    background-color: rgba(255, 255, 255, .8);
}

.desktop-status-box {
    font-family: 'Lucida Console';
    padding-top: 5px;
}

.unit-status-box {
    background-color: white;
    font-family: 'Lucida Console';
    padding: 5px;
}

.unit-status-box table {
    width: 100%
}

.unit-status-box td, .unit-status-box th {
    padding: 3px;
}

.unit-status-box .odd {
    background-color: #eee;
}

.unit-status-box .even {

}

.unit-status-box th {
    width: 150px;
    text-align: left;
}

.unit-status-box td {
    text-align: left;
}

.status-paused {
    color: darkorange;
}
.noty_text a {
    text-decoration: none;
}

/* Summary row in grids */
.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
    font-size: 11px
}

.x-grid-row {
    cursor: pointer;
}

.fl {
    float: left
}

.fr {
    float: right
}

.cb {
    clear: both
}

/*----------------------------------------------------
    TaskBar
*/

.ux-taskbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.x-ie6 .ux-taskbar .x-toolbar {
    border-color: #d3e1f1;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.ux-taskbar {
    /*padding: 2px 0px 2px 0px;*/
}

.x-toolbar .x-toolbar {
    padding: 0;
}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {
    background-color: #0A5BC4;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}

.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 96px;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.ux-desktop-shortcut-text {
    font: 12px tahoma, arial, verdana, sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}

.report-total-row .x-grid-cell {
    font-weight: bold;
}

#mccWindow .x-grid-view {
    overflow-x: hidden;
}

/* --- scroller fix --- */

.x-scroller-ct {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    left: 0px;
    top: 0px;
    box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important
}

.x-vertical-scroller-present .x-grid-body {
    border-right-width: 0px
}

.x-scroller {
    overflow: hidden
}

.x-scroller-vertical {
    border: 1px solid #99bce8;
    border-top-color: #c5c5c5
}

.x-scroller-horizontal {
    border: 1px solid #99bce8
}

.x-vertical-scroller-present .x-scroller-horizontal {
    border-right-width: 0px
}

.x-scroller-vertical .x-scroller-ct {
    overflow-y: scroll
}

.x-scroller-horizontal .x-scroller-ct {
    overflow-x: scroll
}

/* --- scroller fix end --- */

.x-mask {
    background: transparent;
}

.x-combo-gray {
    color: gray
}

#desktop-status {
    border: 0px solid white;
    color: #ddd;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 600px;
}

#desktop-status .topic {
    border-bottom: 1px solid #ddd;
}

.tar {
    text-align: right;
}

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/**
*/
.pac-container {
    z-index: 100000 !important;
}

.pac-container:after {
    content: '' !important;
}

.t-align-center {
    text-align: center;
}