#global-loading {
    height: 100%;
}

.not_approved {
    font-style: italic;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    height: 128px;
    width: 128px;
}

.icon {
    background-repeat: no-repeat;
}

.users-icon {
    background-image: url('../images/icons/16/stock_lock.png');
}

.auth-icon {
    background-image: url('../images/icons/16/stock_lock.png');
}

/*.data-icon {*/
    /*background-image: url('../images/icons/16/stock_notes.png');*/
/*}*/

.data-icon-big {
    background-image: url('../images/icons/48/Applications/Expose.png');
}

.logout-icon {
    background-image: url('../images/icons/16/stock_lock-open.png');
}

.photo-gallery-icon-big {
    background-image: url('../images/icons/48/Folders_OS/PicturesFolder.png');
}

.comments-icon-big {
    background-image: url('../images/icons/48/Applications/MessagingAlt.png');
}

.filter-icon-big {
    background-image: url('../images/icons/48/Other/Update.png');
}

.top-icon-big {
    background-image: url('../images/icons/48/Applications/TaskManager.png');
}

.user-icon-big {
    background-image: url('../images/icons/48/Folders_OS/UserNoFrame.png');
}

.icon-add {
    background-image: url(../images/add.png);
}

.icon-delete {
    background-image: url(../images/delete.png);
}