@container-width: 1000px;

.makeGradient(@color-start, @color-end) {
  background: @color-start;
  background: -moz-linear-gradient(left, @color-start 0%, @color-end 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, @color-start), color-stop(100%, @color-end));
  background: -webkit-linear-gradient(left, @color-start 0%, @color-end 100%);
  background: -o-linear-gradient(left, @color-start 0%, @color-end 100%);
  background: -ms-linear-gradient(left, @color-start 0%, @color-end 100%);
  background: linear-gradient(to right, @color-start 0%, @color-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color-start}', endColorstr='@{color-end}', GradientType=1);
}

.makeThumbGradient(@color) {
  background: @color;
  background: -moz-linear-gradient(45deg, @color 0%, @color 0%, @color 0%, #fff 18%, #fff 75%, @color 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, @color), color-stop(0%, @color), color-stop(0%, @color), color-stop(18%, #fff), color-stop(75%, #fff), color-stop(100%, @color));
  background: -webkit-linear-gradient(45deg, @color 0%, @color 0%, @color 0%, #fff 18%, #fff 75%, @color 100%);
  background: -o-linear-gradient(45deg, @color 0%, @color 0%, @color 0%, #fff 18%, #fff 75%, @color 100%);
  background: -ms-linear-gradient(45deg, @color 0%, @color 0%, @color 0%, #fff 18%, #fff 75%, @color 100%);
  background: linear-gradient(45deg, @color 0%, @color 0%, @color 0%, #fff 18%, #fff 75%, @color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color}', endColorstr='@{color}', GradientType=1);
}

.clear {
  clear: both;
}