#middle {
  width: 100%;
  padding: 8px 0 131px;
  height: 1%;
  position: relative;

  & > .center-box {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    background: #fff;
    overflow: hidden;
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

#container {
  width: 100%;
  float: left;
  overflow: hidden;
}

#content {
  padding: 10px 10px 10px 238px;
}

