.filter-selectbox {
  border-bottom: 1px solid;
  margin-bottom: 7px;
  padding: 0 0 7px 7px;

  .selectbox,
  input {
    float: left;
    margin-right: 13px;
  }

  input {
    border: 1px solid;
    font-size: 11px;
    height: 16px;
    padding: 0 0 0 7px;
    width: 156px;
  }
}

.buttons-box {
  padding-left: 7px;

  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    background: #fff;
    font-size: 11px;
    border: 2px solid;
    float: left;
    height: 20px;
    margin-right: 5px;
    padding: 0 6px;
  }

  p {
    float: left;
    font-size: 11px;
    margin: 1px 0 0 19px;
  }
}

.themeFilter(@class, @button-color, @button-border-color) {
  .@{class}-page {
    .buttons-box {
      button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"] {
        color: @button-color;
        border-color: @button-border-color;
      }

      p {
        color: @button-color;
      }
    }
  }
}

.themeFilter(stroy, #1958ba, #96beff);
.themeFilter(avto, #018477, #81d4cc);
.themeFilter(sport, #a13500, #f9a866);
.themeFilter(otdyih, #346337, #8adb8c);
.themeFilter(shoping, #5635d5, #b19eff);