.filter-selectbox {
  border-bottom: 1px solid;
  margin-bottom: 7px;
  padding: 0 0 7px 7px;
}
.filter-selectbox .selectbox,
.filter-selectbox input {
  float: left;
  margin-right: 13px;
}
.filter-selectbox input {
  border: 1px solid;
  font-size: 11px;
  height: 16px;
  padding: 0 0 0 7px;
  width: 156px;
}
.buttons-box {
  padding-left: 7px;
}
.buttons-box button,
.buttons-box input[type="button"],
.buttons-box input[type="reset"],
.buttons-box input[type="submit"] {
  background: #fff;
  font-size: 11px;
  border: 2px solid;
  float: left;
  height: 20px;
  margin-right: 5px;
  padding: 0 6px;
}
.buttons-box p {
  float: left;
  font-size: 11px;
  margin: 1px 0 0 19px;
}
.stroy-page .buttons-box button,
.stroy-page .buttons-box input[type="button"],
.stroy-page .buttons-box input[type="reset"],
.stroy-page .buttons-box input[type="submit"] {
  color: #1958ba;
  border-color: #96beff;
}
.stroy-page .buttons-box p {
  color: #1958ba;
}
.avto-page .buttons-box button,
.avto-page .buttons-box input[type="button"],
.avto-page .buttons-box input[type="reset"],
.avto-page .buttons-box input[type="submit"] {
  color: #018477;
  border-color: #81d4cc;
}
.avto-page .buttons-box p {
  color: #018477;
}
.sport-page .buttons-box button,
.sport-page .buttons-box input[type="button"],
.sport-page .buttons-box input[type="reset"],
.sport-page .buttons-box input[type="submit"] {
  color: #a13500;
  border-color: #f9a866;
}
.sport-page .buttons-box p {
  color: #a13500;
}
.otdyih-page .buttons-box button,
.otdyih-page .buttons-box input[type="button"],
.otdyih-page .buttons-box input[type="reset"],
.otdyih-page .buttons-box input[type="submit"] {
  color: #346337;
  border-color: #8adb8c;
}
.otdyih-page .buttons-box p {
  color: #346337;
}
.shoping-page .buttons-box button,
.shoping-page .buttons-box input[type="button"],
.shoping-page .buttons-box input[type="reset"],
.shoping-page .buttons-box input[type="submit"] {
  color: #5635d5;
  border-color: #b19eff;
}
.shoping-page .buttons-box p {
  color: #5635d5;
}
