#footer {
  margin: -106px auto 0;
  border-top: 2px solid #fff;
  border-bottom: 4px solid #e4e9ed;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);
  min-width: 1000px;
  height: 100px;
  background: #585c64;
  position: relative;
}