// MIXINS
.borderTopBottom(@width: 1px) {
  border-width: @width 0;
  border-style: solid;
}

#header {
  height: 259px;
  background: url('../img/header-repeated-back.jpg') repeat-x 0 28px;

  .top-line {
    .borderTopBottom;
    height: 2px;
  }

  .top-navigation {
    @height: 22px;

    border-bottom: 1px solid #000;
    background: url(../img/header-top-back.jpg) repeat-x;
    height: @height;
    position: relative;

    .center-box {
      line-height: (@height - 1);
      height: @height;
    }
  }
}

.profile-info {
  display: none;
  position: absolute;
  width: 190px;
  z-index: 10;

  &.active {
    display: block;
  }
}

.header-auth {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #101218;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.header-auth-wrap {
  background: url(../img/auth-back.jpg) repeat-x;
  padding: 0 65px 0 25px;
  position: relative;
  float: right;

  &:after,
  &:before {
    position: absolute;
    content: '';
    top: 0;
    z-index: 1;
  }

  &:before {
    background: url(../img/auth-left-back.jpg) no-repeat;
    left: 0;
    width: 11px;
    height: 23px;
  }

  &:after {
    background: url(../img/auth-right-back.png) no-repeat;
    right: 0;
    height: 28px;
    width: 50px;
  }
}

.yiiTab div.view {
  background: rgba(255, 255, 255, .4);
}

#logo {
  background: url("../img/logos.png") no-repeat;
  width: 103px;
  height: 28px;
  position: absolute;
}

#header-back {
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-top: 1px solid;
  height: 186px;

  &.day {
  }

  &.night {

  }

  > .center-box {
    position: relative;
  }
}

.themeHeader(@class, @logo-back-pos-y, @top-line-back, @top-line-border-top-color, @top-line-border-bottom-color) {
  .@{class}-page {
    .top-line {
      background: @top-line-back;
      border-color: @top-line-border-top-color transparent @top-line-border-bottom-color;
    }

    #logo {
      background-position: 0 @logo-back-pos-y;
      &:hover {
        background-position: 100% @logo-back-pos-y;
      }
    }

    #header-back {
      &.day {
        background-image: url('../img/back/@{class}.jpg');
      }

      &.night {
        background-image: url('../img/back/@{class}-night.jpg');
      }
    }
  }
}

@logo-back-pos-y: -28px;
.themeHeader(stroy, 0, #3f8dff, #75adff, #002760);
.themeHeader(avto, @logo-back-pos-y, #00dbb1, #00ffce, #000);
.themeHeader(sport, @logo-back-pos-y * 2, #f55500, #ffaa61, #000);
.themeHeader(otdyih, @logo-back-pos-y * 3, #26ce2b, #7ae67d, #000);
.themeHeader(shoping, @logo-back-pos-y * 4, #805fff, #c1b1ff, #000);