#header {
  height: 259px;
  background: url('../img/header-repeated-back.jpg') repeat-x 0 28px;
}
#header .top-line {
  border-width: 1px 0;
  border-style: solid;
  height: 2px;
}
#header .top-navigation {
  border-bottom: 1px solid #000;
  background: url(../img/header-top-back.jpg) repeat-x;
  height: 22px;
  position: relative;
}
#header .top-navigation .center-box {
  line-height: 21px;
  height: 22px;
}
.profile-info {
  display: none;
  position: absolute;
  width: 190px;
  z-index: 10;
}
.profile-info.active {
  display: block;
}
.header-auth {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #101218;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.header-auth-wrap {
  background: url(../img/auth-back.jpg) repeat-x;
  padding: 0 65px 0 25px;
  position: relative;
  float: right;
}
.header-auth-wrap:after,
.header-auth-wrap:before {
  position: absolute;
  content: '';
  top: 0;
  z-index: 1;
}
.header-auth-wrap:before {
  background: url(../img/auth-left-back.jpg) no-repeat;
  left: 0;
  width: 11px;
  height: 23px;
}
.header-auth-wrap:after {
  background: url(../img/auth-right-back.png) no-repeat;
  right: 0;
  height: 28px;
  width: 50px;
}
.yiiTab div.view {
  background: rgba(255, 255, 255, 0.4);
}
#logo {
  background: url("../img/logos.png") no-repeat;
  width: 103px;
  height: 28px;
  position: absolute;
}
#header-back {
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-top: 1px solid;
  height: 186px;
}
#header-back > .center-box {
  position: relative;
}
.stroy-page .top-line {
  background: #3f8dff;
  border-color: #75adff transparent #002760;
}
.stroy-page #logo {
  background-position: 0 0;
}
.stroy-page #logo:hover {
  background-position: 100% 0;
}
.stroy-page #header-back.day {
  background-image: url('../img/back/stroy.jpg');
}
.stroy-page #header-back.night {
  background-image: url('../img/back/stroy-night.jpg');
}
.avto-page .top-line {
  background: #00dbb1;
  border-color: #00ffce transparent #000000;
}
.avto-page #logo {
  background-position: 0 -28px;
}
.avto-page #logo:hover {
  background-position: 100% -28px;
}
.avto-page #header-back.day {
  background-image: url('../img/back/avto.jpg');
}
.avto-page #header-back.night {
  background-image: url('../img/back/avto-night.jpg');
}
.sport-page .top-line {
  background: #f55500;
  border-color: #ffaa61 transparent #000000;
}
.sport-page #logo {
  background-position: 0 -56px;
}
.sport-page #logo:hover {
  background-position: 100% -56px;
}
.sport-page #header-back.day {
  background-image: url('../img/back/sport.jpg');
}
.sport-page #header-back.night {
  background-image: url('../img/back/sport-night.jpg');
}
.otdyih-page .top-line {
  background: #26ce2b;
  border-color: #7ae67d transparent #000000;
}
.otdyih-page #logo {
  background-position: 0 -84px;
}
.otdyih-page #logo:hover {
  background-position: 100% -84px;
}
.otdyih-page #header-back.day {
  background-image: url('../img/back/otdyih.jpg');
}
.otdyih-page #header-back.night {
  background-image: url('../img/back/otdyih-night.jpg');
}
.shoping-page .top-line {
  background: #805fff;
  border-color: #c1b1ff transparent #000000;
}
.shoping-page #logo {
  background-position: 0 -112px;
}
.shoping-page #logo:hover {
  background-position: 100% -112px;
}
.shoping-page #header-back.day {
  background-image: url('../img/back/shoping.jpg');
}
.shoping-page #header-back.night {
  background-image: url('../img/back/shoping-night.jpg');
}
