html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

header, nav, section, article, aside, footer {
  display: block;
}

body {
  color: #7e7e7e;
  background: #f6f6f6 url("../img/home/body_bkg.png") no-repeat top center;
  font: 12px/18px Tahoma, Verdana, sans-serif;
  height: 100%;
}

a {
  color: blue;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 18px
}

img {
  border: none;
}

input {
  vertical-align: middle;
}

area {
  display: block;
}

#wrapper {
  width: 100%;
  min-width: 980px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
  height: 33px;
  background: #353a48;
  position: relative;
  z-index: 1;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 1000px;
  padding: 0 0 75px;
  height: 1%;
  margin: 206px auto 0;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

#container {
  width: 100%;
  float: left;
}

#content {
  padding: 0 0 0 350px;

  p {
    strong {
      text-transform: uppercase;
    }
  }
}

#img-map {
  margin: -33px auto 0;
  text-align: center;
  position: absolute;
  width: 100%;

  > .cc {
    background: url("../img/home/front_main_bkg.jpg") no-repeat 1px 0;
  }
}

#menu-map-img {
  width: 996px;
  height: 239px;
  position: relative;
  z-index: 1;
}

#nav {
  background: url("../img/home/nav_bkg.jpg") repeat-x;
  height: 44px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  width: 1000px;

  ul {
    li {
      a {
        color: #d5d2d2;
        font-size: 11px;
      }
    }
  }
}

ul {
  overflow: hidden;

  li {
    float: left;
    margin-left: 35px;
  }
}

#img-map ul li,
#nav ul li a {
  color: #a5a7ad;
  font-weight: bold;
  text-transform: uppercase;
}

#img-map {
  nav {
    position: absolute;
    top: 112px;
    width: 935px;
    left: 50%;
    margin-left: -443px;
  }

  #top-menu {
    top: 72px;
    margin-left: -433px;

    ul {
      li {
        color: rgba(165, 167, 173, .3);
        font-size: 27px;
        line-height: 27px;
      }
    }
  }

  ul {
    li {
      line-height: 21px;
      margin: 0 0 0 25px;
      text-align: left;
      width: 165px;

      &:first-child {
        margin-left: 0 !important;
      }
    }
  }
}

#bottom-menu {
  li {
  }
}

#map-menu-hovers {
  position: absolute;
  height: 125px;
  top: 110px;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  overflow: hidden;


  > * {
    float: left;
    height: 100%;
    width: 226px;
    display: none;
    position: absolute;
    top: 0;
  }

  @class1: stroy;
  @class2: avto;
  @class3: sport;
  @class4: otdyih;
  @class5: shoping;

  .define(@var) {
    @classSet: 'class@{var}';
  }
  .mixin-loop (@index) when (@index > 0) {
    .define(@index);
    @_class: @@classSet;

    .map-@{_class} {
      background: url("../img/home/hover/@{_class}.png") no-repeat;
      left: 10px + ((@index - 1) * 226px);
    }
    .mixin-loop(@index - 1);
  }
  .mixin-loop (0) {}
  .mixin-loop(5);

  .map-stroy {
    margin-left: -1px;
  }

  .map-avto {
    margin-left: -37px;
  }

  .map-sport {
    margin-left: -73px
  }

  .map-otdyih {
    margin-left: -108px;
  }

  .map-shoping {
    margin-left: -145px;
  }
}

.holder {
  background: #fff;
  box-shadow: 0 0 5px 1px rgba(160, 150, 180, .75);
  overflow: hidden;
  width: 978px;
  margin-left: 1px;
  padding: 20px 10px;
}

.advertisement {
  background: #f5f4f4;
  border: 2px solid #dfdfe1;
  padding: 10px 0;
  text-align: center;

  a {
    color: #7e7e7e;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
  float: left;
  width: 325px;
  margin-left: -100%;
  position: relative;
}

.list-item {
  border-bottom: 1px dotted #a6a6a6;
  font-size: 11px;
  padding: 0 10px 10px;
  margin-bottom: 10px;
}

.list {
  p {
    margin: 10px 0 0 0;
    line-height: 16px;
  }

  h1 {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #dfdfe1 16%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(16%, #dfdfe1), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #ffffff 0%, #dfdfe1 16%, #ffffff 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #dfdfe1 16%, #ffffff 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #dfdfe1 16%, #ffffff 100%);
    background: linear-gradient(to right, #ffffff 0%, #dfdfe1 16%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 10px;

    span {
      background: url("../img/home/list-style.jpg") no-repeat center left;
      padding-left: 10px;

      &.date {
        background: none;
        color: #c6c7c8;
      }
    }
  }
}

#social {
  ul {
    margin-right: 10px;

    li {
      margin: 8px 0 0 3px;

      a {
        background: url("../img/home/social.jpg") no-repeat;
        display: block;
        height: 18px;
        width: 18px;
      }

      &.vk {
        a {
          background-position: -2px 0;
        }
      }

      &.facebook {
        a {
          background-position: -22px 0;
        }
      }

      &.twitter {
        a {
          background-position: -42px 0;
        }
      }

      &.odnoklassniki {
        a {
          background-position: -60px 0;
        }
      }
    }
  }
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  color: #585e6e;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: -35px auto 20px;
  min-width: 980px;
  height: 28px;
  line-height: 30px;
  background: #0b0d11;
  background: -moz-linear-gradient(top, #0b0d11 0%, #353c51 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b0d11), color-stop(100%, #353c51));
  background: -webkit-linear-gradient(top, #0b0d11 0%, #353c51 100%);
  background: -o-linear-gradient(top, #0b0d11 0%, #353c51 100%);
  background: -ms-linear-gradient(top, #0b0d11 0%, #353c51 100%);
  background: linear-gradient(to bottom, #0b0d11 0%, #353c51 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b0d11', endColorstr='#353c51', GradientType=0);
  position: relative;
  z-index: 1;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  a {
    color: #8a8f9c;
  }
}

.clear {
  clear: both;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.cc {
  width: 1000px;
  margin: 0 auto;
}