.item {
  background: #fff;
  border-top-color: transparent;
  cursor: pointer;
  float: left;
  margin: 0 3px 5px 0;
  width: 185px;
  text-align: center;

  .inner-top {
    height: 25px;
    padding: 2px 0;
    position: relative;
    width: 185px;
  }

  .service-icon {
    height: 24px;
    font-size: 10px;
    padding: 3px 0 0 27px;
    margin-left: 4px;
  }

  .is-favorite {
    height: 14px;
    position: absolute;
    top: 6px;
    right: 4px;
    width: 16px;
  }

  .inner-bottom {
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid;
    border-top-color: transparent !important;
    margin-top: -1px;
    padding: 10px;

    .box() {
      padding-bottom: 7px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    &.vip {
      border: 1px solid;
    }

    .views {
      font-size: 11px;
      .box();

      strong {
        padding-left: 19px;
      }
    }

    .rating-box {
      .box();

      ul {
        padding: 3px 0 1px;
        overflow: hidden;
        width: 70px;
        margin: 0 auto;

        li {
          display: block;
          float: left;
          height: 13px;
          margin-left: 1px;
          margin-top: 3px;
          width: 13px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .thumbnail {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
    height: 98px;
    width: 160px;

    img {
      max-height: 98px;
      max-width: 160px;
    }
  }

  h3 {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin: 10px 0 0 0;
  }

  p {
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 13px;
  }
}

.inner-bottom .views [class^="icon-"],
.inner-bottom .views [class*=" icon-"] {
  font-size: 13px;
  padding-right: 5px;
}

.inner-bottom .views [class^="icon-"],
.inner-bottom .views [class*=" icon-"] {
  color: #ff3f05;
}

.service-icon {
  height: 24px;
  font-size: 10px;
}

.is-favorite {
  &:hover,
  &.active {
    background-position: 0 0;
  }
}

.themeItemList(@class, @back-hover, @border-color, @border-color-vip, @text-color, @thumb-color) {
  .@{class}-page {
    .item {
      &:hover {
        background: @back-hover;
      }

      .service-icon {
        background: url("../img/themes/@{class}/cart.png") no-repeat;
        color: @text-color;
      }

      .is-favorite,
      &.vip {
        &:hover {
          .is-favorite {
            background: url("../img/themes/@{class}/success.png") no-repeat 0 -14px;
          }
        }
      }

      &.vip {
        .inner-top {
          background: url("../img/themes/@{class}/bkg-vip.png") no-repeat;
        }

        .thumbnail {
          border-color: @border-color-vip;
        }

        .inner-bottom {
          border-color: @border-color-vip;

          .rating-box,
          .views {
            border-bottom-color: @border-color-vip;
          }
        }
      }

      .inner-top {
        background: url("../img/themes/@{class}/bkg-norm.png") no-repeat;
      }

      .thumbnail {
        border-color: @border-color;
        .makeThumbGradient(@thumb-color);
      }

      .inner-bottom {
        border-color: @border-color;

        h3 {
          color: @text-color;
        }

        p {
          color: @text-color;
        }

        .rating-box {
          border-bottom-color: @border-color;
        }

        .views {
          color: @text-color;
          border-bottom-color: @border-color;

          strong {
            background: url("../img/themes/@{class}/view-eye.png") no-repeat 0 50%;
          }
        }
      }
    }
  }
}

.themeItemList(stroy, #e1eefc, #c0d8f9, #65a4ff, #005fee, #c0d8f9);
.themeItemList(avto, #e1fcf7, #c8e7e3, #69bdb5, #068a79, #c8e7e3);
.themeItemList(sport, #fff4dd, #ffdac2, #ffa513, #ff7200, #ffdac2);
.themeItemList(otdyih, #e6fae3, #c6e8c7, #509d52, #017f07, #c6e8c7);
.themeItemList(shoping, #e9e5f8, #dbd3fb, #8e78e2, #572bff, #dbd3fb);