/* ITEM
----------------------------------------------------------------------------*/
.item-view .thumbnail {
  border: 2px solid;
  float: left;
  height: 95px;
  line-height: 95px;
  margin-right: 13px;
  text-align: center;
  width: 150px;
}
.item-view .thumbnail + .holder {
  margin-left: 170px;
}
.item-view h1 {
  border-bottom: 1px solid;
  font-size: 24px;
  padding-bottom: 18px;
}
.item-view h1 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 7px;
}
.item-view .text {
  border-bottom: 1px solid;
  clear: both;
  margin: 20px 0;
  padding-bottom: 13px;
}
.item-view .action-box {
  float: left;
}
.item-view .action-box li a {
  display: block;
  height: 17px;
  line-height: 17px;
  margin: 8px 9px 0 0;
  width: 20px;
}
.item-view .action-box li.back a {
  padding: 0 10px 0 20px;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.item-view .action-box li.article a {
  background-position: -26px 0;
}
.item-view .action-box li.comment a {
  background-position: -50px 0;
}
.item-view .holder {
  overflow: hidden;
}
.item-view .holder li {
  float: left;
}
.item-view .rating-box {
  float: right;
}
.item-view .rating-box ul,
.item-view .rating-box label {
  float: left;
  margin: 10px 0 0 10px;
}
.item-view .rating-box li {
  display: block;
  height: 13px;
  margin-left: 1px;
  margin-top: 3px;
  width: 13px;
}
.item-view .rating-box li.empty {
  background-position: -14px 0;
}
.skills {
  float: left;
  margin: 10px 0 0 10px;
}
.carousel-container {
  height: 90px;
  margin-left: 30px;
}
.swiper-container {
  margin: 20px 37px 20px 31px !important;
  height: 99px;
}
.swiper-container .swiper-slide {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.swiper-container .swiper-slide:before {
  content: '';
  background: url("../img/zoom.png") no-repeat;
  opacity: 0;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  margin-top: -17.5px;
  width: 34px;
  transition: opacity .15s linear;
}
.swiper-container .swiper-slide:hover:before {
  opacity: 1;
}
.swiper-container .swiper-slide img {
  border: 2px solid;
  margin-left: 7px;
  vertical-align: middle;
  height: 95px;
  width: 160px;
}
.item-carousel {
  position: relative;
}
.item-carousel .arrow {
  height: 100%;
  position: absolute;
  top: 0;
  width: 30px;
  background: #d3d3d3;
  z-index: 1;
}
.item-carousel .arrow .triangle {
  display: block;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  left: 50%;
  margin-left: -8.5px;
  width: 17px;
}
.item-carousel .arrow.prev {
  left: 0;
}
.item-carousel .arrow.prev .triangle {
  background-position: 0 -25px;
}
.item-carousel .arrow.next {
  right: 0;
}
.item-info {
  overflow: hidden;
}
.item-info address {
  font-style: normal;
  margin: 12px 50px 12px 0;
  overflow: hidden;
}
.item-info address p {
  margin: 0;
  float: left;
  width: 33%;
}
#gg-map {
  height: 300px;
  border: 3px solid;
  clear: both;
}
.stroy-page .action-box li a {
  background: url("../img/themes/stroy/links.png") no-repeat;
}
.stroy-page .action-box li.back a {
  background: url("../img/themes/stroy/back.png") no-repeat;
}
.stroy-page .rating-box li {
  background: url("../img/themes/stroy/rating.png") no-repeat 0 0;
}
.stroy-page .item-carousel .arrow.prev {
  background: #e9f1ff;
  background: -moz-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: linear-gradient(to right, #e9f1ff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f1ff', endColorstr='#ffffff', GradientType=1);
}
.stroy-page .item-carousel .arrow.next {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e9f1ff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e9f1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f1ff', GradientType=1);
}
.stroy-page .item-carousel .arrow .triangle {
  background-image: url("../img/themes/stroy/arrows.png");
  background-repeat: no-repeat;
}
.stroy-page #gg-map {
  border-color: #cdd7e6;
}
.avto-page .action-box li a {
  background: url("../img/themes/avto/links.png") no-repeat;
}
.avto-page .action-box li.back a {
  background: url("../img/themes/avto/back.png") no-repeat;
}
.avto-page .rating-box li {
  background: url("../img/themes/avto/rating.png") no-repeat 0 0;
}
.avto-page .item-carousel .arrow.prev {
  background: #e9f1ff;
  background: -moz-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: linear-gradient(to right, #e9f1ff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f1ff', endColorstr='#ffffff', GradientType=1);
}
.avto-page .item-carousel .arrow.next {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e9f1ff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e9f1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f1ff', GradientType=1);
}
.avto-page .item-carousel .arrow .triangle {
  background-image: url("../img/themes/avto/arrows.png");
  background-repeat: no-repeat;
}
.avto-page #gg-map {
  border-color: #c5dedc;
}
.sport-page .action-box li a {
  background: url("../img/themes/sport/links.png") no-repeat;
}
.sport-page .action-box li.back a {
  background: url("../img/themes/sport/back.png") no-repeat;
}
.sport-page .rating-box li {
  background: url("../img/themes/sport/rating.png") no-repeat 0 0;
}
.sport-page .item-carousel .arrow.prev {
  background: #e9f1ff;
  background: -moz-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: linear-gradient(to right, #e9f1ff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f1ff', endColorstr='#ffffff', GradientType=1);
}
.sport-page .item-carousel .arrow.next {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e9f1ff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e9f1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f1ff', GradientType=1);
}
.sport-page .item-carousel .arrow .triangle {
  background-image: url("../img/themes/sport/arrows.png");
  background-repeat: no-repeat;
}
.sport-page #gg-map {
  border-color: #e2d2c9;
}
.otdyih-page .action-box li a {
  background: url("../img/themes/otdyih/links.png") no-repeat;
}
.otdyih-page .action-box li.back a {
  background: url("../img/themes/otdyih/back.png") no-repeat;
}
.otdyih-page .rating-box li {
  background: url("../img/themes/otdyih/rating.png") no-repeat 0 0;
}
.otdyih-page .item-carousel .arrow.prev {
  background: #e9f1ff;
  background: -moz-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: linear-gradient(to right, #e9f1ff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f1ff', endColorstr='#ffffff', GradientType=1);
}
.otdyih-page .item-carousel .arrow.next {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e9f1ff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e9f1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f1ff', GradientType=1);
}
.otdyih-page .item-carousel .arrow .triangle {
  background-image: url("../img/themes/otdyih/arrows.png");
  background-repeat: no-repeat;
}
.otdyih-page #gg-map {
  border-color: #c7e0c8;
}
.shoping-page .action-box li a {
  background: url("../img/themes/shoping/links.png") no-repeat;
}
.shoping-page .action-box li.back a {
  background: url("../img/themes/shoping/back.png") no-repeat;
}
.shoping-page .rating-box li {
  background: url("../img/themes/shoping/rating.png") no-repeat 0 0;
}
.shoping-page .item-carousel .arrow.prev {
  background: #e9f1ff;
  background: -moz-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e9f1ff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #e9f1ff 0%, #ffffff 100%);
  background: linear-gradient(to right, #e9f1ff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9f1ff', endColorstr='#ffffff', GradientType=1);
}
.shoping-page .item-carousel .arrow.next {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #e9f1ff));
  background: -webkit-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e9f1ff 100%);
  background: linear-gradient(to right, #ffffff 0%, #e9f1ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f1ff', GradientType=1);
}
.shoping-page .item-carousel .arrow .triangle {
  background-image: url("../img/themes/shoping/arrows.png");
  background-repeat: no-repeat;
}
.shoping-page #gg-map {
  border-color: #d7d2eb;
}
