.item {
  background: #fff;
  border-top-color: transparent;
  cursor: pointer;
  float: left;
  margin: 0 3px 5px 0;
  width: 185px;
}
.item .inner-top {
  height: 25px;
  padding: 2px 0;
  position: relative;
  width: 185px;
}
.item .service-icon {
  height: 24px;
  font-size: 10px;
  padding: 3px 0 0 27px;
  margin-left: 4px;
}
.item .is-favorite {
  height: 14px;
  position: absolute;
  top: 6px;
  right: 4px;
  width: 16px;
}
.item .inner-bottom {
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 1px solid;
  border-top-color: transparent !important;
  margin-top: -1px;
  padding: 10px;
  text-align: center;
}
.item .inner-bottom.vip {
  border: 1px solid;
}
.item .inner-bottom .views {
  font-size: 11px;
  padding-bottom: 7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.item .inner-bottom .views strong {
  padding-left: 19px;
}
.item .inner-bottom .rating-box {
  padding-bottom: 7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.item .inner-bottom .rating-box ul {
  padding: 3px 0 1px;
  overflow: hidden;
  width: 70px;
  margin: 0 auto;
}
.item .inner-bottom .rating-box ul li {
  display: block;
  float: left;
  height: 13px;
  margin-left: 1px;
  margin-top: 3px;
  width: 13px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.item .thumbnail {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid;
  height: 98px;
  width: 160px;
}
.item .thumbnail img {
  max-height: 98px;
  max-width: 160px;
}
.item h3 {
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  margin: 10px 0 0 0;
}
.item p {
  font-size: 11px;
  margin-bottom: 15px;
  margin-top: 10px;
  line-height: 13px;
}
.inner-bottom .views [class^="icon-"],
.inner-bottom .views [class*=" icon-"] {
  font-size: 13px;
  padding-right: 5px;
}
.inner-bottom .views [class^="icon-"],
.inner-bottom .views [class*=" icon-"] {
  color: #ff3f05;
}
.service-icon {
  height: 24px;
  font-size: 10px;
}
.is-favorite:hover,
.is-favorite.active {
  background-position: 0 0;
}
.stroy-page .item:hover {
  background: #e1eefc;
}
.stroy-page .item .service-icon {
  background: url("../img/themes/stroy/cart.png") no-repeat;
  color: #005fee;
}
.stroy-page .item .is-favorite:hover .is-favorite,
.stroy-page .item.vip:hover .is-favorite {
  background: url("../img/themes/stroy/success.png") no-repeat 0 -14px;
}
.stroy-page .item.vip .inner-top {
  background: url("../img/themes/stroy/bkg-vip.png") no-repeat;
}
.stroy-page .item.vip .thumbnail {
  border-color: #65a4ff;
}
.stroy-page .item.vip .inner-bottom {
  border-color: #65a4ff;
}
.stroy-page .item.vip .inner-bottom .rating-box,
.stroy-page .item.vip .inner-bottom .views {
  border-bottom-color: #65a4ff;
}
.stroy-page .item .inner-top {
  background: url("../img/themes/stroy/bkg-norm.png") no-repeat;
}
.stroy-page .item .thumbnail {
  border-color: #c0d8f9;
}
.stroy-page .item .inner-bottom {
  border-color: #c0d8f9;
}
.stroy-page .item .inner-bottom h3 {
  color: #005fee;
}
.stroy-page .item .inner-bottom p {
  color: #005fee;
}
.stroy-page .item .inner-bottom .rating-box {
  border-bottom-color: #c0d8f9;
}
.stroy-page .item .inner-bottom .views {
  color: #005fee;
  border-bottom-color: #c0d8f9;
}
.stroy-page .item .inner-bottom .views strong {
  background: url("../img/themes/stroy/view-eye.png") no-repeat 0 50%;
}
.avto-page .item:hover {
  background: #e1fcf7;
}
.avto-page .item .service-icon {
  background: url("../img/themes/avto/cart.png") no-repeat;
  color: #068a79;
}
.avto-page .item .is-favorite:hover .is-favorite,
.avto-page .item.vip:hover .is-favorite {
  background: url("../img/themes/avto/success.png") no-repeat 0 -14px;
}
.avto-page .item.vip .inner-top {
  background: url("../img/themes/avto/bkg-vip.png") no-repeat;
}
.avto-page .item.vip .thumbnail {
  border-color: #69bdb5;
}
.avto-page .item.vip .inner-bottom {
  border-color: #69bdb5;
}
.avto-page .item.vip .inner-bottom .rating-box,
.avto-page .item.vip .inner-bottom .views {
  border-bottom-color: #69bdb5;
}
.avto-page .item .inner-top {
  background: url("../img/themes/avto/bkg-norm.png") no-repeat;
}
.avto-page .item .thumbnail {
  border-color: #c8e7e3;
}
.avto-page .item .inner-bottom {
  border-color: #c8e7e3;
}
.avto-page .item .inner-bottom h3 {
  color: #068a79;
}
.avto-page .item .inner-bottom p {
  color: #068a79;
}
.avto-page .item .inner-bottom .rating-box {
  border-bottom-color: #c8e7e3;
}
.avto-page .item .inner-bottom .views {
  color: #068a79;
  border-bottom-color: #c8e7e3;
}
.avto-page .item .inner-bottom .views strong {
  background: url("../img/themes/avto/view-eye.png") no-repeat 0 50%;
}
.sport-page .item:hover {
  background: #fff4dd;
}
.sport-page .item .service-icon {
  background: url("../img/themes/sport/cart.png") no-repeat;
  color: #ff7200;
}
.sport-page .item .is-favorite:hover .is-favorite,
.sport-page .item.vip:hover .is-favorite {
  background: url("../img/themes/sport/success.png") no-repeat 0 -14px;
}
.sport-page .item.vip .inner-top {
  background: url("../img/themes/sport/bkg-vip.png") no-repeat;
}
.sport-page .item.vip .thumbnail {
  border-color: #ffa513;
}
.sport-page .item.vip .inner-bottom {
  border-color: #ffa513;
}
.sport-page .item.vip .inner-bottom .rating-box,
.sport-page .item.vip .inner-bottom .views {
  border-bottom-color: #ffa513;
}
.sport-page .item .inner-top {
  background: url("../img/themes/sport/bkg-norm.png") no-repeat;
}
.sport-page .item .thumbnail {
  border-color: #ffdac2;
}
.sport-page .item .inner-bottom {
  border-color: #ffdac2;
}
.sport-page .item .inner-bottom h3 {
  color: #ff7200;
}
.sport-page .item .inner-bottom p {
  color: #ff7200;
}
.sport-page .item .inner-bottom .rating-box {
  border-bottom-color: #ffdac2;
}
.sport-page .item .inner-bottom .views {
  color: #ff7200;
  border-bottom-color: #ffdac2;
}
.sport-page .item .inner-bottom .views strong {
  background: url("../img/themes/sport/view-eye.png") no-repeat 0 50%;
}
.otdyih-page .item:hover {
  background: #e1fcf7;
}
.otdyih-page .item .service-icon {
  background: url("../img/themes/otdyih/cart.png") no-repeat;
  color: #017f07;
}
.otdyih-page .item .is-favorite:hover .is-favorite,
.otdyih-page .item.vip:hover .is-favorite {
  background: url("../img/themes/otdyih/success.png") no-repeat 0 -14px;
}
.otdyih-page .item.vip .inner-top {
  background: url("../img/themes/otdyih/bkg-vip.png") no-repeat;
}
.otdyih-page .item.vip .thumbnail {
  border-color: #509d52;
}
.otdyih-page .item.vip .inner-bottom {
  border-color: #509d52;
}
.otdyih-page .item.vip .inner-bottom .rating-box,
.otdyih-page .item.vip .inner-bottom .views {
  border-bottom-color: #509d52;
}
.otdyih-page .item .inner-top {
  background: url("../img/themes/otdyih/bkg-norm.png") no-repeat;
}
.otdyih-page .item .thumbnail {
  border-color: #dbd3fb;
}
.otdyih-page .item .inner-bottom {
  border-color: #dbd3fb;
}
.otdyih-page .item .inner-bottom h3 {
  color: #017f07;
}
.otdyih-page .item .inner-bottom p {
  color: #017f07;
}
.otdyih-page .item .inner-bottom .rating-box {
  border-bottom-color: #dbd3fb;
}
.otdyih-page .item .inner-bottom .views {
  color: #017f07;
  border-bottom-color: #dbd3fb;
}
.otdyih-page .item .inner-bottom .views strong {
  background: url("../img/themes/otdyih/view-eye.png") no-repeat 0 50%;
}
.shoping-page .item:hover {
  background: #e9e5f8;
}
.shoping-page .item .service-icon {
  background: url("../img/themes/shoping/cart.png") no-repeat;
  color: #572bff;
}
.shoping-page .item .is-favorite:hover .is-favorite,
.shoping-page .item.vip:hover .is-favorite {
  background: url("../img/themes/shoping/success.png") no-repeat 0 -14px;
}
.shoping-page .item.vip .inner-top {
  background: url("../img/themes/shoping/bkg-vip.png") no-repeat;
}
.shoping-page .item.vip .thumbnail {
  border-color: #8e78e2;
}
.shoping-page .item.vip .inner-bottom {
  border-color: #8e78e2;
}
.shoping-page .item.vip .inner-bottom .rating-box,
.shoping-page .item.vip .inner-bottom .views {
  border-bottom-color: #8e78e2;
}
.shoping-page .item .inner-top {
  background: url("../img/themes/shoping/bkg-norm.png") no-repeat;
}
.shoping-page .item .thumbnail {
  border-color: #dbd3fb;
}
.shoping-page .item .inner-bottom {
  border-color: #dbd3fb;
}
.shoping-page .item .inner-bottom h3 {
  color: #572bff;
}
.shoping-page .item .inner-bottom p {
  color: #572bff;
}
.shoping-page .item .inner-bottom .rating-box {
  border-bottom-color: #dbd3fb;
}
.shoping-page .item .inner-bottom .views {
  color: #572bff;
  border-bottom-color: #dbd3fb;
}
.shoping-page .item .inner-bottom .views strong {
  background: url("../img/themes/shoping/view-eye.png") no-repeat 0 50%;
}
