/* ITEM
----------------------------------------------------------------------------*/
.item-view {
  .thumbnail {
    border: 2px solid;
    float: left;
    height: 95px;
    line-height: 95px;
    margin-right: 13px;
    text-align: center;
    width: 150px;

    & + .holder {
      margin-left: 170px;
    }
  }

  //  img {
  //    display: inline-block;
  //    vertical-align: middle;
  //  }

  h1 {
    border-bottom: 1px solid;
    font-size: 24px;
    padding-bottom: 18px;

    span {
      display: block;
      font-size: 12px;
      font-weight: normal;
      margin-top: 7px;
    }
  }

  .text {
    border-bottom: 1px solid;
    clear: both;
    margin: 20px 0;
    padding-bottom: 13px;
  }

  .action-box {
    float: left;

    li {
      a {
        display: block;
        height: 17px;
        line-height: 17px;
        margin: 8px 9px 0 0;
        width: 20px;
      }

      &.back {
        a {
          padding: 0 10px 0 20px;
          width: auto;
          font-size: 11px;
          font-weight: bold;
          text-decoration: none;
        }
      }

      &.article {
        a {
          background-position: -26px 0;
        }
      }

      &.comment {
        a {
          background-position: -50px 0;
        }
      }
    }
  }

  .holder {
    overflow: hidden;
    li {
      float: left;
    }
  }

  .rating-box {
    float: right;

    ul,
    label {
      float: left;
      margin: 10px 0 0 10px;
    }

    li {
      display: block;
      height: 13px;
      margin-left: 1px;
      margin-top: 3px;
      width: 13px;


    }
  }
}

.rating-box {
  li {
    &.empty {
      background-position: -14px 0 !important;
    }
  }
}

.skills {
  float: left;
  margin: 10px 0 0 10px;
}

.carousel-container {
  height: 90px;
  margin-left: 30px;
}

.swiper-container {
  //  border-bottom: 1px solid;
  margin: 20px 37px 20px 31px !important;
  height: 99px;

  .swiper-slide {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:before {
      content: '';
      background: url("../img/zoom.png") no-repeat;
      opacity: 0;
      height: 35px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -17px;
      margin-top: -17.5px;
      width: 34px;
      transition: opacity .15s linear;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    img {
      border: 2px solid;
      margin-left: 7px;
      vertical-align: middle;
      height: 95px;
      width: 160px;
    }
  }
}

.item-carousel {
  position: relative;

  .arrow {
    height: 100%;
    position: absolute;
    top: 0;
    width: 30px;
    background: #d3d3d3;
    z-index: 1;

    .triangle {
      display: block;
      height: 25px;
      position: absolute;
      top: 50%;
      margin-top: -12.5px;
      left: 50%;
      margin-left: -8.5px;
      width: 17px;
    }

    &.prev {
      left: 0;

      .triangle {
        background-position: 0 -25px;
      }
    }

    &.next {
      right: 0;
    }
  }
}

.item-info {
  overflow: hidden;

  .address {

  }

  address {
    font-style: normal;
    margin: 12px 50px 12px 0;
    overflow: hidden;

    p {
      margin: 0;
      float: left;
      width: 33%;
    }
  }
}

#gg-map {
  height: 300px;
  border: 3px solid;
  clear: both;
}

.themeItemView(@class, @text-color, @map-border-color, @arrow-color-start, @arrow-color-end, @carousel-border-color, @thumb-border-color) {
  .@{class}-page {
    .item-view {
      .thumbnail {
        border-color: @thumb-border-color;
      }

      h1,
      .item-info,
      .action-box li.back a {
        color: @text-color;
      }
    }

    .action-box {
      li {
        a {
          background: url("../img/themes/@{class}/links.png") no-repeat;
        }
        &.back {
          a {
            background: url("../img/themes/@{class}/back.png") no-repeat;
          }
        }
      }
    }

    .rating-box {
      li {
        background: url("../img/themes/@{class}/rating.png") no-repeat 0 0;
      }
    }

    .item-carousel {
      .swiper-slide {
        border-color: @carousel-border-color;
      }
    }

    .item-carousel {
      .arrow {
        &.prev {
          .makeGradient(@arrow-color-start, @arrow-color-end);
        }

        &.next {
          .makeGradient(@arrow-color-end, @arrow-color-start);
        }

        .triangle {
          background-image: url("../img/themes/@{class}/arrows.png");
          background-repeat: no-repeat;
        }
      }
    }

    #gg-map {
      border-color: @map-border-color;
    }
  }
}

.themeItemView(stroy, #3e88ff, #cdd7e6, #e9f1ff, #fff, #3e88ff, #96beff);
.themeItemView(avto, #01b5a0, #c5dedc, #e5f6f4, #fff, #01b5a0, #81d4cc);
.themeItemView(sport, #ff7200, #e2d2c9, #ffeddf, #fff, #ff7200, #f9a866);
.themeItemView(otdyih, #2b9931, #c7e0c8, #e4fde6, #fff, #2b9931, #8adb8c);
.themeItemView(shoping, #6e4eff, #d7d2eb, #f1eeff, #fff, #6e4eff, #b19eff);