#main-nav {
  background: repeat-x url("../img/menu-back.jpg");
  border-width: 1px 0 0;
  border-style: solid;
  line-height: 41px;
  height: 44px;
}
#main-nav > .center-box {
  position: relative;
  height: 41px;
}
#main-nav > .center-box:before {
  content: '';
  top: -1px;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#main-nav li {
  position: relative;
  z-index: 1;
  float: left;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
#main-nav li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
#main-nav li a {
  padding: 0 15px;
  font-size: 11px;
  font-weight: bold;
  display: block;
  border-left: 1px solid #fff;
  text-decoration: none;
  height: 44px;
}
#main-nav li a:hover,
#main-nav li.active a {
  background: url(../img/menu-back.png) repeat-x;
  text-shadow: -1px -1px #ffffff, 1px 1px #ffffff;
}
#services-menu {
  float: right;
}
#services-menu li a {
  position: relative;
  padding-left: 22px;
}
#services-menu li a:before {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  left: -12px;
  top: 9px;
}
.stroy-page #services-menu li a:before {
  background: url("../img/themes/stroy/cart.png");
}
.stroy-page #main-nav {
  background-position: 0 -176px;
  border-top-color: #484848;
}
.stroy-page #main-nav > .center-box:before {
  background: url("../img/back/stroy-bottom.jpg") no-repeat 222px 0;
}
.stroy-page #main-nav li a {
  color: #6c7080;
}
.stroy-page #main-nav li a:hover {
  background-position: 0 0;
  color: #106fff;
}
.stroy-page #main-nav li.active a {
  background-position: 0 0;
  color: #106fff;
}
.avto-page #services-menu li a:before {
  background: url("../img/themes/avto/cart.png");
}
.avto-page #main-nav {
  background-position: 0 0;
  border-top-color: #484848;
}
.avto-page #main-nav > .center-box:before {
  background: url("../img/back/avto-bottom.jpg") no-repeat 587px 0;
}
.avto-page #main-nav li a {
  color: #69807c;
}
.avto-page #main-nav li a:hover {
  background-position: 0 -44px;
  color: #007d76;
}
.avto-page #main-nav li.active a {
  background-position: 0 -44px;
  color: #007d76;
}
.sport-page #services-menu li a:before {
  background: url("../img/themes/sport/cart.png");
}
.sport-page #main-nav {
  background-position: 0 -132px;
  border-top-color: #5e4233;
}
.sport-page #main-nav > .center-box:before {
  background: url("../img/back/sport-bottom.jpg") no-repeat 142px 0;
}
.sport-page #main-nav li a {
  color: #955b2d;
}
.sport-page #main-nav li a:hover {
  background-position: 0 -88px;
  color: #ff5400;
}
.sport-page #main-nav li.active a {
  background-position: 0 -88px;
  color: #ff5400;
}
.otdyih-page #services-menu li a:before {
  background: url("../img/themes/otdyih/cart.png");
}
.otdyih-page #main-nav {
  background-position: 0 -44px;
  border-top-color: #5e4233;
}
.otdyih-page #main-nav > .center-box:before {
  background: url("../img/back/otdyih-bottom.jpg") no-repeat 604px 0;
}
.otdyih-page #main-nav li a {
  color: #5c795d;
}
.otdyih-page #main-nav li a:hover {
  background-position: 0 -132px;
  color: #019208;
}
.otdyih-page #main-nav li.active a {
  background-position: 0 -132px;
  color: #019208;
}
.shoping-page #services-menu li a:before {
  background: url("../img/themes/shoping/cart.png");
}
.shoping-page #main-nav {
  background-position: 0 -88px;
  border-top-color: #484848;
}
.shoping-page #main-nav > .center-box:before {
  background: url("../img/back/shoping-bottom.jpg") no-repeat 670px 0;
}
.shoping-page #main-nav li a {
  color: #8d7db0;
}
.shoping-page #main-nav li a:hover {
  background-position: 0 -176px;
  color: #7c3cff;
}
.shoping-page #main-nav li.active a {
  background-position: 0 -176px;
  color: #7c3cff;
}
