#main-nav {
  background: repeat-x url("../img/menu-back.jpg");
  border-width: 1px 0 0;
  border-style: solid;
  line-height: 41px;
  height: 44px;

  > .center-box {
    position: relative;
    height: 41px;

    &:before {
      content: '';
      top: -1px;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  }

  li {
    position: relative;
    z-index: 1;
    float: left;
    text-transform: uppercase;
    border-right: 1px solid rgba(0, 0, 0, .08);

    &:first-child {
      border-left: 1px solid rgba(0, 0, 0, .08);
    }

    a {
      padding: 0 15px;
      font-size: 11px;
      font-weight: bold;
      display: block;
      border-left: 1px solid #fff;
      text-decoration: none;
      height: 44px;

      &:hover {
        background: url(../img/menu-back.png) repeat-x;
        text-shadow: -1px -1px #fff, 1px 1px #fff;
      }
    }

    &.active {
      a {
        &:extend(#main-nav li a:hover);
      }
    }
  }
}

#services-menu {
  float: right;

  li {
    a {
      position: relative;
      padding-left: 22px;

      &:before {
        content: '';
        position: absolute;
        height: 24px;
        width: 24px;
        left: -12px;
        top: 9px;
      }
    }
  }
}

.themeMainNav(@class, @back-pos, @border-color, @box-back, @nav-link-color, @item-color-hover, @item-back-pos) {
  .@{class}-page {
    #services-menu {
      li {
        a {
          &:before {
            background: url("../img/themes/@{class}/cart.png");
          }
        }
      }
    }

    #main-nav {
      background-position: @back-pos;
      border-top-color: @border-color;

      > .center-box {
        &:before {
          background: @box-back;
        }
      }

      li {
        .activeHover() {
          background-position: @item-back-pos;
          color: @item-color-hover;
        }

        a {
          color: @nav-link-color;
          &:hover {
            .activeHover();
          }
        }

        &.active {
          a {
            .activeHover();
          }
        }
      }
    }
  }
}

.themeMainNav(stroy, 0 -176px, #484848, url("../img/back/stroy-bottom.jpg") no-repeat 222px 0, #6c7080, #106fff, 0 0);
.themeMainNav(avto, 0 0, #484848, url("../img/back/avto-bottom.jpg") no-repeat 587px 0, #69807c, #007d76, 0 -44px);
.themeMainNav(sport, 0 -132px, #5e4233, url("../img/back/sport-bottom.jpg") no-repeat 142px 0, #955b2d, #ff5400, 0 -88px);
.themeMainNav(otdyih, 0 -44px, #5e4233, url("../img/back/otdyih-bottom.jpg") no-repeat 604px 0, #5c795d, #019208, 0 -132px);
.themeMainNav(shoping, 0 -88px, #484848, url("../img/back/shoping-bottom.jpg") no-repeat 670px 0, #8d7db0, #7c3cff, 0 -176px);