.selectbox {
  vertical-align: middle;
  cursor: pointer;
}
.selectbox .select,
.selectbox .trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.selectbox .select {
  width: 156px;
  height: 18px;
  padding: 0 0 0 7px;
  font: 11px/18px Arial, Tahoma, sans-serif;
  background: #fff;
  border: 1px solid;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.selectbox .select .text {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.selectbox .trigger .arrow {
  position: absolute;
  top: 7px;
  right: 3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  width: 0;
  height: 0;
  overflow: hidden;
}
.selectbox .dropdown {
  border: 1px solid;
  top: 19px;
  width: 163px;
  margin: 0;
  padding: 4px 0;
  background: #fff;
  font: 12px/18px Arial, Tahoma, sans-serif;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.selectbox li {
  padding: 5px 10px 6px;
}
.selectbox li.selected,
.selectbox li:hover {
  color: #fff !important;
}
.stroy-page .selectbox .select,
.stroy-page .selectbox li {
  color: #3e88ff;
}
.stroy-page .selectbox .dropdown,
.stroy-page .selectbox .select {
  border-color: #deeaff;
}
.stroy-page .selectbox li.selected,
.stroy-page .selectbox li:hover {
  background: #3e88ff;
}
.stroy-page .selectbox .trigger .arrow {
  border-top-color: #408aff;
}
.stroy-page .selectbox .select {
  border-top-color: #408aff;
}
.avto-page .selectbox .select,
.avto-page .selectbox li {
  color: #01b5a0;
}
.avto-page .selectbox .dropdown,
.avto-page .selectbox .select {
  border-color: #b3e5e0;
}
.avto-page .selectbox li.selected,
.avto-page .selectbox li:hover {
  background: #01b5a0;
}
.avto-page .selectbox .trigger .arrow {
  border-top-color: #1ab1a3;
}
.avto-page .selectbox .select {
  border-top-color: #1ab1a3;
}
.sport-page .selectbox .select,
.sport-page .selectbox li {
  color: #ff7200;
}
.sport-page .selectbox .dropdown,
.sport-page .selectbox .select {
  border-color: #ffc8a5;
}
.sport-page .selectbox li.selected,
.sport-page .selectbox li:hover {
  background: #ff7200;
}
.sport-page .selectbox .trigger .arrow {
  border-top-color: #ff7200;
}
.sport-page .selectbox .select {
  border-top-color: #ff7200;
}
.otdyih-page .selectbox .select,
.otdyih-page .selectbox li {
  color: #2b9931;
}
.otdyih-page .selectbox .dropdown,
.otdyih-page .selectbox .select {
  border-color: #b7e9b8;
}
.otdyih-page .selectbox li.selected,
.otdyih-page .selectbox li:hover {
  background: #2b9931;
}
.otdyih-page .selectbox .trigger .arrow {
  border-top-color: #31b935;
}
.otdyih-page .selectbox .select {
  border-top-color: #31b935;
}
.shoping-page .selectbox .select,
.shoping-page .selectbox li {
  color: #6e4eff;
}
.shoping-page .selectbox .dropdown,
.shoping-page .selectbox .select {
  border-color: #eae5ff;
}
.shoping-page .selectbox li.selected,
.shoping-page .selectbox li:hover {
  background: #6e4eff;
}
.shoping-page .selectbox .trigger .arrow {
  border-top-color: #8668ff;
}
.shoping-page .selectbox .select {
  border-top-color: #8668ff;
}
