.selectbox {
  vertical-align: middle;
  cursor: pointer;

  .select,
  .trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
  }

  .select {
    width: 156px;
    height: 18px;
    padding: 0 0 0 7px;
    font: 11px/18px Arial, Tahoma, sans-serif;
    background: #fff;
    border: 1px solid;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    .text {
      display: block;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .trigger {
    .arrow {
      position: absolute;
      top: 7px;
      right: 3px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  .dropdown {
    border: 1px solid;
    top: 19px;
    width: 163px;
    margin: 0;
    padding: 4px 0;
    background: #fff;
    font: 12px/18px Arial, Tahoma, sans-serif;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  li {
    padding: 5px 10px 6px;

    &.selected,
    &:hover {
      color: #fff !important;
    }
  }
}

.themeSelect(@class, @select-color, @select-border-color, @item-back, @arrow-border-top-color) {
  .@{class}-page {
    .selectbox {
      .select,
      li {
        color: @select-color;
      }

      .dropdown,
      .select {
        border-color: @select-border-color;
      }

      li {
        &.selected,
        &:hover {
          background: @item-back;
        }
      }

      .trigger {
        .arrow {
          border-top-color: @arrow-border-top-color;
        }
      }

      .select {
        border-top-color: @arrow-border-top-color;
      }
    }
  }
}

.themeSelect(stroy, #3e88ff, #deeaff, #3e88ff, #408aff);
.themeSelect(avto, #01b5a0, #b3e5e0, #01b5a0, #1ab1a3);
.themeSelect(sport, #ff7200, #ffc8a5, #ff7200, #ff7200);
.themeSelect(otdyih, #2b9931, #b7e9b8, #2b9931, #31b935);
.themeSelect(shoping, #6e4eff, #eae5ff, #6e4eff, #8668ff);