#site-nav {
  margin-left: 120px;
}
#site-nav li {
  float: left;
  margin-left: 17px;
}
#site-nav li:first-child {
  margin-left: 0;
}
#site-nav li a {
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px -1px 0 #161b23;
  font-weight: bold;
  text-decoration: none;
}
#site-nav li a mark {
  background: none;
}
#site-nav li a span {
  color: #919caa;
}
.stroy-page #site-nav li a:hover mark {
  color: #4f98ff;
}
.stroy-page #site-nav li a mark {
  color: #3f8dff;
}
.avto-page #site-nav li a:hover mark {
  color: #46ffdf;
}
.avto-page #site-nav li a mark {
  color: #85cbbf;
}
.sport-page #site-nav li a:hover mark {
  color: #ff5400;
}
.sport-page #site-nav li a mark {
  color: #ff7e3f;
}
.otdyih-page #site-nav li a:hover mark {
  color: #67ff6c 3;
}
.otdyih-page #site-nav li a mark {
  color: #0bd315;
}
.shoping-page #site-nav li a:hover mark {
  color: #7a48ff;
}
.shoping-page #site-nav li a mark {
  color: #a37ffd;
}
