#site-nav {
  margin-left: 120px;
  li {
    float: left;
    margin-left: 17px;

    &:first-child {
      margin-left: 0;
    }

    a {
      font-size: 10px;
      text-transform: uppercase;
      color: #fff;
      text-shadow: -1px -1px 0 #161b23;
      font-weight: bold;
      text-decoration: none;

      mark {
        background: none;
      }

      span {
        color: #919caa;
      }
    }
  }
}

.themeSiteNav(@class, @link-color, @link-color-hover) {
  .@{class}-page {
    #site-nav {
      li {
        a {
          &:hover {
            mark {
              color: @link-color-hover;
            }
          }
          mark {
            color: @link-color;
          }
        }
      }
    }
  }
}

.themeSiteNav(stroy, #3f8dff, #4f98ff);
.themeSiteNav(avto, #85cbbf, #46ffdf);
.themeSiteNav(sport, #ff7e3f, #ff5400);
.themeSiteNav(otdyih, #0bd315, #67ff6c3);
.themeSiteNav(shoping, #a37ffd, #7a48ff);