#weather {
  position: absolute;
  top: 80px;
  font-size: 32px;
  line-height: normal;
  right: 10px;
  text-align: right;
}
#weather .temperature,
#time .hour-minute {
  line-height: 27px;
  overflow: hidden;
}
#weather > * {
  position: relative;
  z-index: 1;
}
#weather .weather-type,
#time .day {
  font-size: 11px;
  text-transform: uppercase;
}
#weather:before {
  background: url(../img/weather.png) no-repeat;
  position: absolute;
  content: '';
}
#weather.tuman:before {
  height: 65px;
  width: 105px;
  right: -20px;
  top: -40px;
}
#weather.oblachno:before {
  background-position: -120px -64px;
  height: 50px;
  width: 75px;
  right: -30px;
  top: -40px;
}
#weather.dojd:before {
  background-position: -200px -70px;
  height: 60px;
  width: 65px;
  right: -30px;
  top: -35px;
}
#weather.solnechno:before {
  background-position: -115px -130px;
  height: 65px;
  width: 65px;
  right: -30px;
  top: -35px;
}
#weather.dojd-s-grozoy:before {
  background-position: 0 -70px;
  height: 65px;
  width: 115px;
  right: -37px;
  top: -35px;
}
#weather.metel:before {
  background-position: -125px 0;
  height: 65px;
  width: 68px;
  right: -30px;
  top: -45px;
}
#weather.sneg:before {
  background-position: -207px 0;
  height: 65px;
  width: 70px;
  right: -30px;
  top: -45px;
}
#weather.peremennaya-oblachnost:before {
  background-position: 0 -133px;
  height: 52px;
  width: 85px;
  right: -30px;
  top: -31px;
}
#weather.malooblachno:before,
#weather.oblachno-s-proyasneniyami:before {
  background-position: -210px -130px;
  height: 55px;
  width: 75px;
  right: -30px;
  top: -35px;
}
#time {
  position: absolute;
  top: 80px;
  font-size: 32px;
  line-height: normal;
}
#time .hour-minute > * {
  float: left;
}
#time .d-dot {
  animation: d-dot-opacity 1s infinite linear;
  -moz-animation: d-dot-opacity 1s infinite linear;
  -webkit-animation: d-dot-opacity 1s infinite linear;
  -o-animation: d-dot-opacity 1s infinite linear;
}
@keyframes d-dot-opacity {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes d-dot-opacity {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes d-dot-opacity {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes d-dot-opacity {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.stroy-page #weather,
.stroy-page #time {
  color: #525866;
}
.avto-page #weather,
.avto-page #time {
  color: #3c736c;
}
.sport-page #weather,
.sport-page #time {
  color: #ff5400;
}
.otdyih-page #weather,
.otdyih-page #time {
  color: #008b07;
}
.shoping-page #weather,
.shoping-page #time {
  color: #6a52e6;
}
