.headerBack() {
  position: absolute;
  top: 80px;
  font-size: 32px;
  line-height: normal;
}

#weather {
  .headerBack();
  right: 10px;
  text-align: right;

  .temperature {
    line-height: 27px;
    overflow: hidden;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .weather-type {
    font-size: 11px;
    text-transform: uppercase;
  }

  &:before {
    background: url(../img/weather.png) no-repeat;
    position: absolute;
    content: '';
  }

  &.tuman {
    &:before {
      height: 65px;
      width: 105px;
      right: -20px;
      top: -40px;
    }
  }

  &.oblachno {
    &:before {
      background-position: -120px -64px;
      height: 50px;
      width: 75px;
      right: -30px;
      top: -40px;
    }
  }

  &.dojd {
    &:before {
      background-position: -200px -70px;
      height: 60px;
      width: 65px;
      right: -30px;
      top: -35px;
    }
  }

  &.solnechno{
    &:before {
      background-position: -115px -130px;
      height: 65px;
      width: 65px;
      right: -30px;
      top: -35px;
    }
  }

  &.dojd-s-grozoy {
    &:before {
      background-position: 0 -70px;
      height: 65px;
      width: 115px;
      right: -37px;
      top: -35px;
    }
  }

  &.metel {
    &:before {
      background-position: -125px 0;
      height: 65px;
      width: 68px;
      right: -30px;
      top: -45px;
    }
  }

  &.sneg {
    &:before {
      background-position: -207px 0;
      height: 65px;
      width: 70px;
      right: -30px;
      top: -45px;
    }
  }

  &.peremennaya-oblachnost {
    &:before {
      background-position: 0 -133px;
      height: 52px;
      width: 85px;
      right: -30px;
      top: -31px;
    }
  }

  &.malooblachno,
  &.oblachno-s-proyasneniyami {
    &:before {
      background-position: -210px -130px;
      height: 55px;
      width: 75px;
      right: -30px;
      top: -35px;
    }
  }
}

#time {
  .headerBack();

  .hour-minute {
    &:extend(#weather .temperature);
    > * {
      float: left;
    }
  }

  .day {
    &:extend(#weather .weather-type);
  }

  .d-dot {
    animation: d-dot-opacity 1s infinite linear;
    -moz-animation: d-dot-opacity 1s infinite linear;
    -webkit-animation: d-dot-opacity 1s infinite linear;
    -o-animation: d-dot-opacity 1s infinite linear;
  }
}


@keyframes d-dot-opacity {
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes d-dot-opacity {
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes d-dot-opacity {
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes d-dot-opacity {
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.themeWeatherTime(@class, @color) {
  .@{class}-page {
    #weather, #time {
      color: @color;
    }
  }
}

.themeWeatherTime(stroy, #525866);
.themeWeatherTime(avto, #3c736c);
.themeWeatherTime(sport, #ff5400);
.themeWeatherTime(otdyih, #008b07);
.themeWeatherTime(shoping, #6a52e6);